* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    margin: 30px auto;
    gap: 20px;
    background-color: aquamarine;
    flex-wrap: wrap;
    max-width: 1300px;
    justify-content: center;
    align-items: center;


}

.box {
    min-width: calc(450px - 40px);
    height: 700px;
    background-color: brown;
}